footer {
    font-family: "Museo Sans", sans-serif;
    color: #fff;
    font-size: 0.6875rem;
    line-height: 1.1818;
    padding: 5.625rem 2.5rem;
    font-weight: 300;
    background: #434343;
}

footer .footer.block {
    margin: auto;
    max-width: 59.375rem;
    padding: 0 0.9375rem;
}

footer .footer p {
    margin: 0;
}

footer .middle {
    margin: 2.5rem 0 3.75rem;
    margin: var(--s-extra-extra-large) 0 3.75rem;
    text-align: center;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer .section.top picture {
    margin: 0 auto;
}

.footer .section.top img {
    margin: 0 auto;
}

.footer .section.top .main-menu {
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 3.75rem;
}

.footer .section.top .main-menu li {
    position: relative;
    padding: 0 1.375rem 0 1.3125rem;
    flex: 1 0 50%;
    margin: 0;
}

.footer .section.top .main-menu li:nth-child(1) {
    text-align: right;
    border-right: #fff 1px solid;
}

.footer .section.middle p {
    margin-bottom: 1.2em;
    font-size: 11px;
    line-height: 13px;
    font-weight: 300;
}

  /* .footer .section.middle .text-long p {
      margin: 0 0 2.5rem;
      margin: 0 0 var(--s-extra-extra-large);
  } */

.footer .section.top .main-menu a,
.footer .section.section.bottom .copyright,
.footer .section.section.bottom .prc-date,
.footer .section.section.bottom .prc-code {
    color: #fff;
    font-size: 0.875rem;
    line-height: 1.2143;
    font-weight: 400;
    letter-spacing: normal;
}

.footer .section.section.bottom .prc-date,
.footer .section.section.bottom .prc-code  {
    margin: 0 0.5rem;
    margin: 0 var(--s-small);
}

@media (width < 991px) {
.footer .section.section.bottom .copyright {
    text-align: center;
    max-width: 16.625rem;
    margin: 0 auto 2.5rem;
    margin: 0 auto var(--s-extra-extra-large);
}
}


.footer .section.section.bottom .prc {
    display: flex;
    justify-content: center;
}

@media (width >= 992px) {
    footer {
        padding: 3.6875rem 0 4rem;
    }

    footer .section.top {
        flex-direction: row;
        gap: 2rem;
        align-items: flex-start;
    }

    footer .section.top .default-content-wrapper {
        display: flex;
        justify-content: space-between;
    }

    .footer .section.top .main-menu {
        margin-top: 4.0625rem;
        justify-content: flex-end;
    }

    .footer .section.top .main-menu li {
        flex: none;
        padding: 0 1.3125rem 0 1rem;
        border-top: none;
        display: inline-block;
        margin-bottom: 0;
    }

    .footer .section.top .main-menu li:last-child {
        padding-right: 0;
    }

    footer .section.middle {
        margin: 3.125rem 0 2.8125rem;
        text-align: left;
    }

    footer .section.bottom {
        flex-direction: row; /* Ensures horizontal layout */
        gap: 2rem; /* Adds space between the p tags */
        align-items: flex-start; /* Aligns items to the top */
    }

    footer .section.bottom .default-content-wrapper {
        display: flex;
        justify-content: space-between;
    }

    .footer .section.bottom .copyright {
        text-align: left;
        max-width: none;
        margin: 0;
    }

    footer .section.bottom p {
        text-align: left;
        max-width: none;
        margin: 0;
        flex: 0 1 auto;
        color: #fff;
        font-size: 0.875rem;
        line-height: 1.2143;
        font-weight: 400;
        letter-spacing: normal;
    }
}
