footer {
    font-family: "Museo Sans", sans-serif;
    color: #fff;
    font-size: 0.6875rem;
    line-height: 1.1818;
    padding: 5.625rem 2.5rem;
    font-weight: 300;
    background: #434343;
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
}
