/* OPAF Footer Styles */
.opaf-footer {
    font-family: "Museo Sans", sans-serif;
    color: #fff;
    font-size: 0.6875rem;
    line-height: 1.1818;
    padding: 5.625rem 2.5rem;
    font-weight: 300;
    background: #434343;
}

@media (width >= 992px) {
    .opaf-footer {
        padding: 3.6875rem 0 4rem;
    }
}

.opaf-footer .container {
    max-width: 59.375rem;
    padding: 0 0.9375rem;
}

/* General link and list styles - must come before specific selectors */
.opaf-footer a {
    color: #fff;
    text-decoration: none;
}

.opaf-footer a:hover {
    color: #fff;
    text-decoration: underline;
}

.opaf-footer ul {
    list-style: none;
    padding: 0;
}

.opaf-footer ul li {
    padding: 0;
    margin: 0;
}

/* Utility classes - must come before specific .opaf-footer classes */
.prc-code {
    font-size: 0.875rem;
    color: #434343;
}

@media (width >= 992px) {
    .prc-code {
        font-size: 0.5rem;
    }
}

.prc-date {
    font-size: 0.875rem;
    color: #434343;
    letter-spacing: 1px;
}

@media (width >= 992px) {
    .prc-date {
        font-size: 0.5rem;
    }
}

/* Specific element styles */
.opaf-footer .prc-date,
.opaf-footer .prc-code,
.opaf-footer #block-prcdate,
.opaf-footer #block-prccode,
.opaf-footer .copyright,
.opaf-footer .menu a {
    color: #fff;
    font-size: 0.875rem;
    line-height: 1.2143;
    font-weight: 400;
    letter-spacing: normal;
}

.opaf-footer .text-long p {
    font-size: inherit;
    line-height: inherit;
}

.opaf-footer .logo img {
    margin: 0 auto;
}

.opaf-footer .logo a {
    margin: 0 auto;
}

@media (width >= 992px) {
    .opaf-footer .logo a {
        margin: 0;
    }
}

.opaf-footer .logo .image-link {
    width: 13.25rem;
    height: auto;
}

.opaf-footer .main-nav {
    display: block;
}

.opaf-footer .menu {
    margin-top: 3.75rem;
}

@media (width >= 992px) {
    .opaf-footer .menu {
        margin-top: 4.0625rem;
    }
}

.opaf-footer .menu a {
    margin: 0;
    padding: 0;
    border: none;
}

.opaf-footer .menu ul {
    display: flex;
    justify-content: center;
    margin: 0;
}

@media (width >= 992px) {
    .opaf-footer .menu ul {
        justify-content: flex-end;
    }
}

.opaf-footer .menu ul li {
    position: relative;
    padding: 0 1.375rem 0 1.3125rem;
    flex: 1 0 50%;
}

@media (width >= 992px) {
    .opaf-footer .menu ul li {
        flex: none;
        padding: 0 1.3125rem 0 1rem;
    }
}

.opaf-footer .menu ul li:nth-child(1) {
    text-align: right;
}

.opaf-footer .menu ul li:nth-child(1) a {
    text-align: right;
}

.opaf-footer .menu ul li:nth-child(2) {
    text-align: left;
}

.opaf-footer .menu ul li:nth-child(2) a {
    text-align: left;
}

.opaf-footer .menu ul li::after {
    content: "";
    display: block;
    width: 1px;
    height: 1.0625rem;
    background: #fff;
    position: absolute;
    right: 0;
    top: -0.0625rem;
}

.opaf-footer .menu ul li:last-child::after {
    display: none;
}

@media (width >= 992px) {
    .opaf-footer .menu ul li:last-child {
        padding-right: 0;
    }
}

@media (width >= 992px) {
    .opaf-footer .top {
        display: flex;
        justify-content: space-between;
    }
}

@media (width >= 992px) {
    .opaf-footer .col.copyright {
        min-width: 70%;
    }
}

.opaf-footer .text {
    margin: 2.5rem 0 3.75rem;
    text-align: center;
}

.opaf-footer .text p {
    margin-bottom: 1.2em;
}

@media (width >= 992px) {
    .opaf-footer .text {
        margin: 3.125rem 0 2.8125rem;
        text-align: left;
    }
}

.opaf-footer .bottom .copyright {
    text-align: center;
    max-width: 16.625rem;
    margin: 0 auto 2.5rem;
}

@media (width >= 992px) {
    .opaf-footer .bottom .copyright {
        text-align: left;
        max-width: none;
        margin: 0;
    }
}

.opaf-footer .bottom .prc > .region {
    display: flex;
    justify-content: center;
}

.opaf-footer .bottom .prc .prc-date,
.opaf-footer .bottom .prc .prc-code,
.opaf-footer .bottom .prc #block-prcdate,
.opaf-footer .bottom .prc #block-prccode {
    margin: 0 0.5rem;
}

@media (width >= 992px) {
    .opaf-footer .bottom .prc .prc-date,
    .opaf-footer .bottom .prc .prc-code,
    .opaf-footer .bottom .prc #block-prcdate,
    .opaf-footer .bottom .prc #block-prccode {
        margin: 0 0 0 1rem;
    }
}

@media (width >= 992px) {
    .opaf-footer .bottom {
        display: flex;
        justify-content: space-between;
    }
}

/* Additional copyright and PRC styles */
.copyright-wrapper {
    font-size: 0.875rem;
    color: #434343;
}

@media (width >= 992px) {
    .copyright-wrapper {
        font-size: 0.5rem;
        width: 275px;
        margin-left: 0.25rem;
        display: flex;
    }
}

@media (width >= 992px) {
    .copyright-rights {
        margin-left: auto;
    }
}

