footer {
    font-family: "Museo Sans", sans-serif;
    color: #fff;
    font-size: 0.6875rem;
    line-height: 1.1818;
    padding: 5.625rem 2.5rem;
    font-weight: 300;
    background: #434343;
}

footer .footer.block {
    margin: auto;
    max-width: 59.375rem;
    padding: 0 0.9375rem;
}

footer .footer p {
    margin: 0;
}

.footer .section.top picture {
    margin: 0 auto;
}

footer .section.middle p {
    margin-bottom: 1.2em;
}
@media (width >= 992px) {
    footer {
        padding: 3.6875rem 0 4rem;
    }

    footer .section.top {
        display: flex;
        justify-content: space-between;
        display: flex;
        flex-direction: row; /* Ensures horizontal layout */
        justify-content: space-between;
        gap: 2rem; /* Adds space between the p tags */
        align-items: flex-start; /* Aligns items to the top */
    }
    footer .section.top .default-content-wrapper {
        display: flex;
    }
    footer .section.middle {
        margin: 3.125rem 0 2.8125rem;
        text-align: left;
    }

    footer .section.bottom {
        display: flex;
        flex-direction: row; /* Ensures horizontal layout */
        justify-content: space-between;
        gap: 2rem; /* Adds space between the p tags */
        align-items: flex-start; /* Aligns items to the top */
    }

    footer .section.bottom .default-content-wrapper {
        display: flex;
    }
    footer .section.bottom p {
        text-align: left;
        max-width: none;
        margin: 0;
        flex: 0 1 auto;
        color: #fff;
        font-size: 0.875rem;
        line-height: 1.21429;
        font-weight: 400;
        letter-spacing: normal;
    }
}
